$green-primary: #00995d;
$green-secondary: #006b3e;
$green-lemon: #bed700;
$white-primary: #f2f2f2;
$white-secondary: #cfd3d6;
$grey: #5b5c85;
$black: #1e1e1e;

.navbar {
  height: 60px;
  background: $green-primary;
  display: flex;
  padding: 0 5px;
  .icon {
    color: #ffffff;
    font-size: 32px;
  }
  .title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
  }
}
